<a href="https://colab.research.google.com/github/tuancompa2610/Informatics2/blob/main/Informatics_2_Chau_Tuan.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1. **IMPORT LIBRARIES**

In [ ]:
import math
import numpy as np
from typing import List, Union

# **2. SIMPLE THINGS**

### **Exercise 2.1**. Write code that prints in Celsius the temperature given in Fahrenheit stored in the variable f. The formula is $T_c = \frac{5}{9} (T_f - 32)$.

In [ ]:
def Celsius(T_f):
    T_c = 5/9 *(T_f - 32)
    return T_c

if __name__ == "__main__":
    print(Celsius(50))
    print(Celsius(40))
    print(Celsius(20))

10.0
4.444444444444445
-6.666666666666667

### **Exercise 2.2**. Write code that prints all the numbers below the positive integer stored in the variable n. Do the same with the value of n included.

In [ ]:
def bounded_set(n):
    bounded_set = [i for i in range(1, n)]
    return bounded_set

if __name__ == "__main__":
    print(bounded_set(10))
    print(bounded_set(20))

[1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

### **Exercise 2.3**. Write code that prints the sum of the numbers not bigger than the positive integer stored in the variable n. Do the same with only the even numbers summed. (Do this without using `if`.)

In [ ]:
def sum_set(n):
    return sum([i for i in range(1, n+1)])

def sum_even(n):
    return sum([i for i in range(1, n+1) if i % 2 == 0])

if __name__ == "__main__":
    print(sum_set(10))
    print(sum_even(10))

55
30

### **Exercise 2.4**. Write code that prints the factorial of the positive integer stored in the variable n.

In [ ]:
# Solution 1: Built-in function
def factorial(n):
    return math.factorial(n)

# Solution 2: Recursion
def factorial_1(n):
    if n == 0:
        return 1
    elif n == 1:
        return 1
    else:
        return n * factorial_1(n-1)

# Solution 3: Loop
def factorial_2(n):
    res = 1
    while n > 0:
        res *= n
        n -= 1
    return res
if __name__ == "__main__":
    print(factorial(4))
    print(factorial_1(4))
    print(factorial_2(4))

24
24
24

### **Exercise 2.5**. Write code that prints the (decimal) digits of the positive integer stored in n in reverse order. (Integer division is //)

In [ ]:
def decimal(n):
    decimal_list = []
    while n > 0:
        decimal_list.append(n % 10)
        n //= 10
    return decimal_list

if __name__ == "__main__":
    print(decimal(121))
    print(decimal(26102003))

[1, 2, 1]
[3, 0, 0, 2, 0, 1, 6, 2]

### **Exercise 2.6**. Write code that prints the sum of the (decimal) digits of the positive integer stored in n.

In [ ]:
def sum_digits(n):
    return sum(decimal(n))

if __name__ == "__main__":
    print(sum_digits(121))
    print(sum_digits(26102003))

4
14

### **Exercise 2.7**. Write code that prints the first n terms of the Fibonacci sequence. (Itâ€™s not easy using only `while`. Hint: keep track of the last two terms.) Reminder: $F_0 = 0, F_1 = 1,$ and $F_{n+2} = F_{n} + F_{n+1}$.

In [ ]:
# Solution 1: Recursion
def fibo(n):
    if n == 0:
        return 1
    elif n == 1:
        return 1
    else:
        return fibo(n-1) + fibo(n-2)

# Solution 2: Dynamic Programming
def fibo_dp(n):
    dp = [1] * (n+1)
    for i in range(2, n+1):
        dp[i] = dp[i-1] + dp[i-2]
    return dp

if __name__ == "__main__":
    n = 10
    arr = []
    for i in range(n+1):
        arr.append(fibo(i))
    dp = fibo_dp(n)
    print(arr)
    print(dp)

[1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]
[1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]

### **Exercise 2.8**. Rewrite your solution to exercises `2.2-2.4` using `for` instead of `while`

In [ ]:
def bounded_set_2(n):
    arr = []
    for i in range(1, n):
        arr.append(i)
    return arr

def sum_set_3(n):
    return sum(arr(n))

def factorial_4(n):
    res = 1
    for i in range(1, n + 1):
        res *= i
    return res

### **Exercise 2.9**. Write a program that then prints the sum of all the *positive* numbers in the list l of numbers. Use a `for` loop and do this with and without `continue`.

In [ ]:
def sum_list(arr):
    return sum([i for i in arr if i > 0])

if __name__ == "__main__":
    arr = [2, -1, 3, 8, -5, 6, 9, -3]
    print(sum_list(arr))

28

### **Exercise 2.10**. Write a program using a for loop and `break` that prints the first proper divisor of the positive `int` stored in n if it has one, and does nothing otherwise.

In [ ]:
if __name__ == "__main__":
    n = 119
    for i in range(2, int(np.sqrt(n))):
        if n % i == 0:
            print(i)
            break

7

### **Exercise 2.11**. Write a function `compare()` of two arguments (both numbers), that prints `The numbers are equal`. if the two arguments are equal, `The first number is bigger`. if this is the case, and `The second number is bigger`. otherwise.

In [ ]:
def compare(a, b):
    if a == b:
        print("The numbers are equal")
    elif a > b:
        print("The first number is bigger")
    else:
        print("The second number is bigger")

if __name__ == "__main__":
    print(compare(1, 2))
    print(compare(3**4, 4**3))
    print(compare(np.sqrt(100), 2*5))

The second number is bigger
None
The first number is bigger
None
The numbers are equal
None

### **Exercise 2.12**. Write a function `divisible()` of two arguments that returns `True` if its second argument is divisible by its first argument, and `False` otherwise.

In [ ]:
def divisible(a, b):
    return a % b == 0

if __name__ == "__main__":
    print(divisible(51, 9))
    print(divisible(32, 16))

False
True

### **Exercise 2.13**. Write a function `solve2()`, that, given the three coefficients of a second order equation, returns the list of its *real* roots.

In [ ]:
class Second_Equation():
  
    def __init__(self, a: Union[int, float], b: Union[int, float], c:Union[int, float]) -> None:
        self.a = a
        self.b = b
        self.c = c
    
    def solve2(self) -> List[Union[float, int]]:
        roots = []
        delta = self.b ** 2 - 4 * self.a * self.c
        if delta == 0:
            x = - self.b / (2 * self.a)
            roots.append(x)
        elif delta > 0:
            x_1 = (-self.b + np.sqrt(delta)) / (2 * self.a)
            roots.append(x_1)
            x_2 = (-self.b - np.sqrt(delta)) / (2 * self.a)
            roots.append(x_2)
        return roots

if __name__ == "__main__":
    quadratic_1 = Second_Equation(1, -2, 1)
    quadratic_2 = Second_Equation(1, -5, 6)
    quadratic_3 = Second_Equation(1, 4, 5)
    print(quadratic_1.solve2())
    print(quadratic_2.solve2())
    print(quadratic_3.solve2())

[1.0]
[3.0, 2.0]
[]

### **Excercise 2.14** Do what
![Screenshot 2023-03-03 192016.png]()

does, but without `elif`

In [ ]:
for i in [-5, 5, 15, 25]:
    if i < 0:
        print("negative")
        print("small")
        print("medium")
    else:
        print("big")

negative
small
medium
big
big
big

# **3. MORE CHALLENGING STUFF**

### **Exercise 3.1**. Write a function of one argument, that, given a list of numbers $n_1, n_2, â€¦, n_k$ returns a new list containing the numbers $n_1^3 - 1, n_2^3 - 1, â€¦, n_k^3 - 1$. Do it both with and without using list comprehension

In [ ]:
def comprehension(arr):
    new_list = [i**3 - 1 for i in arr]
    return new_list 

if __name__ == "__main__":
    print(comprehension([i for i in range(5)]))

[-1, 0, 7, 26, 63]

### **Exercise 3.2**. Write a function `squares()` of two arguments, so that `squares(m,n)` returns the list of squares between *m* and *n*. Do it both with and without using list comprehension

In [ ]:
def squares(m, n):
    squares_list = [k for k in range(m, n+1) if int(np.sqrt(k))**2 == k]
    return squares_list

if __name__ == "__main__":
    print(squares(1, 26))
    print(squares(10, 100))

[1, 4, 9, 16, 25]
[16, 25, 36, 49, 64, 81, 100]

### **Exercise 3.3**. Generalize `squares()` of the previous exercise to every positive exponents! That is, using one of your implementations of `squares(`) as your starting point, write `powers()`, so that `powers(m,n,k)` returns the list of the *k*th powers between *m* and *n*.

In [ ]:
def powers(m, n, k):
    powers_list = [i for i in range(m, n+1) if np.ceil(np.power(i, (1/k))) ** k == i ]
    return powers_list

if __name__ == "__main__":
    print(powers(1, 500, 3))
    print(powers(1, 500, 4))

[1, 8, 27, 64, 125, 216, 343]
[1, 16, 81, 256]

### **Exercise 3.4**. Write a function `index_of()`, which, given an object and a list, returns the index of the first occurrence of the object in the list, or `None` if it doesnâ€™t occur in the list. (Recall that if a function doesnâ€™t do `return`, it returns `None`.)

In [ ]:
def index_of(a, arr):
    for k, i in enumerate(arr):
        if i == a:
            return k
    return None

if __name__ == "__main__":
    print(index_of(3, [2, 9, -1, 0, 3, 23, 84, 1]))
    print(index_of(np.pi, [2, 9, -1, 0, 3, 23, 84, 1]))

4
None

### **Exercise 3.5**. Write a function `indices_of()`, which, given an object and a list, returns the list of indices of the occurrences of the object in the list

In [ ]:
def indices_of(a, arr):
    indices = [k for k, i in enumerate(arr) if i == a]
    return indices

if __name__ == "__main__":
    print(indices_of(3,[4,1,3,2,3]))
    print(indices_of(0,[4,1,3,2,3]))

[2, 4]
[]

### **Exercise 3.6**. Write a function `substitute()`, which, given a list and two objects, returns a new list with all occurrences of the first object replaced by the second

In [ ]:
def substitute(arr, a, b):
    new_list = []
    for k in arr:
        if k == a:
            new_list.append(b)
        else:
            new_list.append(k)
    return new_list
if __name__ == "__main__":
    print(substitute([1,2,3,4,2],2,'a'))

[1, 'a', 3, 4, 'a']

### **Exercise 3.7**. Write a version of `substitute()` which doesnâ€™t return anything, but does the substitution on its list argument.

In [ ]:
def substitute(arr, a, b):
    for k, i in enumerate(arr):
        if i == a:
            arr[k] = b 

if __name__ == "__main__":
    arr = [1,2,3,4,2]
    substitute(arr, 2, 'a')
    print(arr)

[1, 'a', 3, 4, 'a']

### **Exercise 3.8**. Define a function `divisibles_by()` of two arguments, a list and an integer, which returns the list of those members of the list that are divisible by the integer.

In [ ]:
def divisibles_by(arr, k):
    divisible_list = [i for i in arr if i % k == 0]
    return divisible_list

if __name__ == "__main__":
    print(divisibles_by(list(range(30,50)),7))

[35, 42, 49]

### **Exercise 3.9**. Define a function `divisors()` that returns the list of proper divisors of its only argument.

In [ ]:
def divisors(a):
    divisors = [k for k in range(1, a) if a % k == 0]
    return divisors

if __name__ == "__main__":
    print(divisors(18))
    print(divisors(50))

[1, 2, 3, 6, 9]
[1, 2, 5, 10, 25]

### **Exercise 3.10**. Define `sigma()` of one argument, which computes the number theoretic function $\sigma(n) = Î£_{1\leq d \leq n, d\lvert n}d$. Check it for a few values.

In [ ]:
def sigma(n):
    return sum(divisors(n)) + n

if __name__ == "__main__":
    print([(n, sigma(n)) for n in range(6, 60, 11)])

[(6, 12), (17, 18), (28, 56), (39, 56), (50, 93)]

### **Exercise 3.11**. Define the function `is_perfect()` which returns `True` if its argument is a perfect number (which means that it is equal to the sum of its proper divisors) and `False` otherwise. Using your function, print all perfect numbers below 10000.

In [ ]:
def is_perpect(n):
    return sum(divisors(n)) == n

if __name__ == "__main__":
    perpect_list = [k for k in range(1, 10000) if is_perpect(k) == True]
    print(perpect_list)

[6, 28, 496, 8128]

### **Exercise 3.12**. Define a function `divisors_ival()` such that `divisors_ival(m,n)` prints the the list of proper divisors of all integers between *m* and *n*

In [ ]:
def divisors_ival(m, n):
    for i in range(m, n+1):
        print(divisors(i))

if __name__  == "__main__":
    divisors_ival(90, 100)

[1, 2, 3, 5, 6, 9, 10, 15, 18, 30, 45]
[1, 7, 13]
[1, 2, 4, 23, 46]
[1, 3, 31]
[1, 2, 47]
[1, 5, 19]
[1, 2, 3, 4, 6, 8, 12, 16, 24, 32, 48]
[1]
[1, 2, 7, 14, 49]
[1, 3, 9, 11, 33]
[1, 2, 4, 5, 10, 20, 25, 50]

### **Exercise 3.13**. Write a function `is_prime` which returns `True` if its argument is a prime number and `False` otherwise.

In [ ]:
def is_prime(n):
    for i in range(2, int(np.sqrt(n)) + 1):
        if n % i == 0:
            return False
    return True 

if __name__ == "__main__":
    print(is_prime(23))
    print(is_prime(36))

True
False

### **Exercise 3.14**. Write a function `primes_between()` such that `primes_between(m,n)` returns the list of primes in the interval [*m, n*].

In [ ]:
def sieve_eratosthenes(n):
    prime = [True] * (n+1)
    p = 2
    while p * p <= n:
        if prime[p] == True:
            for i in range(p**2, n+1, p):
                prime[i] = False
        p += 1
    prime[0] = False
    prime[1] = False
    return prime

def primes_between(m, n):
    prime = sieve_eratosthenes(n)
    prime_list = []
    for k in range(m, n+1):
        if prime[k]:
            prime_list.append(k)
    return prime_list
if __name__ == "__main__":
    print(primes_between(30, 100))

[31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

### **Exercise 3.15**. Write a function `prime_divisors()` that returns the list of prime divisors of its argument.

In [ ]:
def prime_divisors(n):
    i = 2
    arr = []
    while n > 1:
        if n % i == 0:
            n /= i
            if i in arr:
                continue
            arr.append(i)
        else:
           i += 1
    return arr

if __name__ == "__main__":
    print(prime_divisors(30))
    print(prime_divisors(315))

[2, 3, 5]
[3, 5, 7]

### **Exercise 3.16**. Write a function `max_exp()` such that `max_exp(m,n)` returns the biggest *k* such that $m^k \lvert n$. You can assume $m$ > 1.

In [ ]:
def max_exp(m, n):
    k = int(np.emath.logn(m, n))
    while k > 0:
        if n % (m ** k) == 0:
            return k 
        else:
            k -= 1
if __name__ == "__main__":
    print(max_exp(3, 63))
    print(max_exp(3, 54))

2
3

### **Exercise 3.17**. Write a function `prime_decomp()` that returns the prime decomposition of its argument as a list of pairs (or lists) whose first member is a prime divisor of the argument and the second is the exponent of the prime divisor in the prime decomposition

In [ ]:
def prime_decomp(n):
    factor = dict()
    i = 2
    while n > 1:
        if n % i == 0:
            n /= i
            factor[i] = factor.get(i, 0) + 1
        else:
            i += 1
    return list(zip(factor.keys(), factor.values()))

if __name__ == "__main__":
    print(prime_decomp(30))
    print(prime_decomp(120))

[(2, 1), (3, 1), (5, 1)]
[(2, 3), (3, 1), (5, 1)]

### **Exercise 3.18**. Define a function `lookup()` of two arguments. The second is a list of 2-long tuples, and the first a â€œkeyâ€. `lookup(key, list)` should return the second member of the first tuple in the list whose first member is equal to `key`, or `None` if thereâ€™s no such member of the list.

In [ ]:
def lookup(key, list):
    for i in list:
        if i[0] == key:
            return i[1]
    return None

if __name__ == "__main__":
    print(lookup('t', [('a', 1), ('b', 2), ('c', 3), ('d', 4)]))
    print(lookup('c', [('a', 1), ('b', 2), ('c', 3), ('d', 4)]))

None
3

### **Exercise 3.19**. Using the functions in the two previous exercises, write a function `gcd()` that computes the greatest common divisor of its two arguments.

In [ ]:
def gcd(a, b):
    while b > 0:
        r = a % b
        a = b
        b = r
    return a

if __name__ == "__main__":
    print(gcd(24, 16))
    print(gcd(17, 51))
    print(gcd(19, 5))

8
17
1

### Exercise 3.20. Define a function that computes $Ï†(n)$ (the number of relative primes to *n* below *n*) for every natural number *n*.

In [ ]:
# Solution 1
def var_phi(n):
    count = 0
    for i in range(1, n):
        if gcd(i, n) == 1:
            count += 1
    return count

# Solution 2
def sieve_powers(n):
    powers = [(False, 1, 1)] * (n + 1)
    for i in range(2, int(np.sqrt(n))):
        p = 2
        while i ** p <= n:
            powers[i**p] = (True, i, p)
            p += 1
    arr = [(i, powers[i][1], powers[i][2]) for i in range(1, n) if powers[i][0] == True]
    return arr


def var_phi_2(n):
    powers = sieve_powers(n)
    var = [1] * (n+1)
    prime = sieve_eratosthenes(n)
    for i in range(2, n + 1):
        if prime[i] == True:
            var[i] = i - 1
    for i in range(len(powers)):
        x, y, z = powers[i]
        var[x] = x - (y ** (z - 1))
    for i in range(1, n + 1):
        if var[i] == 1:
            factor = prime_decomp(i)
            for j in range(len(factor)):
                var[i] *= var[factor[j][0] ** factor[j][1]]
    return var[n]
    
if __name__ == "__main__":
    print(var_phi(120))
    print(var_phi_2(120))
    print(var_phi(53))
    print(var_phi_2(53))
    print(var_phi(36))
    print(var_phi(36))

32
32
52
52
12
12

### **Exercise 3.21**. Write a function `separate()`, which, when called with a list *l* of numbers, returns a pair of lists, the first containing the negative, the second the non-negative members of *l*

In [ ]:
def separate(arr):
    positive = [i for i in arr if i > 0]
    negative = [i for i in arr if i < 0]
    return (negative, positive)

if __name__ == "__main__":
    arr = [-2, 1, 4, -2, 8, 10, -9, 0, 11]
    print(separate(arr))

([-2, -2, -9], [1, 4, 8, 10, 11])

### **Exercise 3.22**. Define a function `is_sorted()` of one argument, a list, which returns `True` if it is sorted in ascending order and `False` otherwise.
Hint: if you have trouble defining it, look up the definition of `repeats()` in the notes!

In [ ]:
def is_sorted(arr):
    return arr == sorted(arr)

if __name__ == "__main__":
    arr1 = [i for i in range(1, 10)]
    arr2 = [10 - i for i in range(1, 10)]
    print(is_sorted(arr1))
    print(is_sorted(arr2))

True
False

### **Exercise 3.23**. Write a function which returns the minimal member of the nonemptylist that is given as its only argument. Call it `my_min()`, because there is a built-in function `min()` which does this. Needless to say, donâ€™t use that. What other ways are there to cheat here? (Itâ€™s good to be aware of the possibilities, but write a version without using any of them.)
Hint (for cheating): thereâ€™s a built-in `max()` fuction

In [ ]:
# Solution 1
def my_min(arr):
    minn = 1e9
    for k in arr:
        if k < minn:
            minn = k
    return minn
# Solution 2: cheating
def cheating(arr):
    return -1 * max([-k for k in arr])
if __name__ == "__main__":
    arr = [3, 1, 2, 9, -4, 25, -2, 0, 1]
    print(my_min(arr))
    print(cheating(arr))

-4
-4

### **Exercise 3.24**. Write a function `min_index()` which returns the index of the first occurrence of the minimal member of the nonempty list of numbers that is given as its only argument.

In [ ]:
def min_index(arr):
    minn = min(arr)
    for k, i in enumerate(arr):
        if i == minn:
            return k

if __name__ == "__main__":
    arr = [3, 1, 2, 9, -4, 25, -2, 0, 1, -4, 10]
    print(min_index(arr))

4

### **Exercise 3.25**. Write a function `min_indices()` which returns the list of the indices of the occurrences of the minimal member of the nonempty list of numbers that is given as its only argument.

In [ ]:
def min_indices(arr):
    minn = min(arr)
    indices = [k for k, i in enumerate(arr) if i == minn]
    return indices

if __name__ == "__main__":
    arr = [3, 1, 2, 9, -4, 25, -2, 0, 1, -4, 10]
    print(min_indices(arr))

[4, 9]

### **Exercise 3.26**. Write a function `nearest_to_avg()` that, given a list of numbers, returns the member closest to the average of the members, or `None` if the list is empty. You can use the function `abs()`.

In [ ]:
def nearest_to_avg(arr):
    if len(arr) == 0:
        return None
    else:
        avg = sum(arr) / len(arr)
        distance = [abs(k - avg) for k in arr]
        return arr[min_index(distance)]

if __name__ == "__main__":
    arr = [3, 1, 2, 9, -4, 25, -2, 0, 1, -4, 10]
    print(sum(arr) / len(arr))
    print(nearest_to_avg(arr))

3.727272727272727
3

### **Exercise 3.27**. Define a function `has_duplicates()` of one argument, a list, which returns `True` if there is an object which occurs at least twice in the list, and `False` otherwise

In [ ]:
import collections

def has_duplicates(arr):
    c = collections.Counter(arr)
    return max(c.values()) > 1

if __name__ == "__main__":
    l = ['a', 'a', 'a', 'a', 'b', 'c', 'c']
    r = [i for i in range(10)]
    print(has_duplicates(l))
    print(has_duplicates(r))

True
False

### **Exercise 3.28**. Write a function `longest_run()` of one argument, a list of numbers, which returns the length of the longest sequence of the same number.

In [ ]:
def longest_run(arr):
    p = 1
    maxx = 0
    for i in range(1, len(arr)):
        if arr[i] == arr[i - 1]:
            p += 1
        else:
            p = 1 
        maxx = max(p, maxx)
    return maxx

if __name__ == "__main__":
    print(longest_run([1, 1, 1, 2, 3, 4, 4, 1, 2]))
    print(longest_run([1] * 10))
    print(longest_run([i for i in range(10)]))

3
10
1

### **Exercise 3.29**. Print the following ugly multiplication table:


1.   1 2 3 4 5 6 7 8 9
2.   2 4 6 8 10 12 14 16 18
3. 3 6 9 12 15 18 21 24 27
4. 4 8 12 16 20 24 28 32 36
5. 5 10 15 20 25 30 35 40 45
6. 6 12 18 24 30 36 42 48 54
7. 7 14 21 28 35 42 49 56 63
8. 8 16 24 32 40 48 56 64 72
9. 9 18 27 36 45 54 63 72 81

In [ ]:
def table():
    for i in range(1, 10):
        arr = [str(i * k) for k in range(1, 10)]
        row = ' '.join(arr)
        print(f"{i}. {row}")

if __name__ == "__main__":
    table()
    # This table is not really ugly :)

1. 1 2 3 4 5 6 7 8 9
2. 2 4 6 8 10 12 14 16 18
3. 3 6 9 12 15 18 21 24 27
4. 4 8 12 16 20 24 28 32 36
5. 5 10 15 20 25 30 35 40 45
6. 6 12 18 24 30 36 42 48 54
7. 7 14 21 28 35 42 49 56 63
8. 8 16 24 32 40 48 56 64 72
9. 9 18 27 36 45 54 63 72 81

### **Exercise 3.30**. Print all permutations (one by one) of 012!

In [ ]:
def permute(arr, l, r):
    if l == r:
        print(arr)
    else:
        for i in range(l, r):
            arr[l], arr[i] = arr[i], arr[l]
            permute(arr, l+1, r)
            arr[i], arr[l] = arr[l], arr[i]

if __name__ == "__main__":
    arr = [0, 1, 2]
    permute(arr, 0, len(arr))

[0, 1, 2]
[0, 2, 1]
[1, 0, 2]
[1, 2, 0]
[2, 1, 0]
[2, 0, 1]

### **Exercise 3.31**. Write a function that computes the factorial of a natural number! Do a version without recursion, too.

In [ ]:
# Solution 1: Built-in function
def factorial(n):
    return math.factorial(n)

# Solution 2: Recursion
def factorial_1(n):
    if n == 0:
        return 1
    elif n == 1:
        return 1
    else:
        return n * factorial_1(n-1)

# Solution 3: Loop
def factorial_2(n):
    res = 1
    while n > 0:
        res *= n
        n -= 1
    return res
if __name__ == "__main__":
    print(factorial(4))
    print(factorial_1(4))
    print(factorial_2(4))

24
24
24

### **Exercise 3.32**. Write a function `lucas(n)` which returns the *n*th Lucas-number. Lucas numbers are defined recursively as follows: $L_0 = 2, L_1 = 1, L_{n+2} = L_{n} + L_{n+1}$. Try writing the function following the pattern of this definition, and another version that is not recursive.

In [ ]:
def lucas(n):
    if n == 0:
        return 2
    elif n == 1:
        return 1
    else:
        return lucas(n - 1) + lucas(n - 2)

def lucas_dp(n):
    dp = [0] * (n+1)
    dp[0] = 2
    dp[1] = 1
    for i in range(2, n + 1):
        dp[i] = dp[i-1] + dp[i-2]
    return dp

if __name__ == "__main__":
    n = 10
    dp = lucas_dp(10)
    print(lucas(n))
    print(dp[n])

123
123

### **Homework 3.1**. Using the `lucas()` function (preferably the non-recursive one) from the previous exercise, print out the first few members of the subsequence of Lucas numbers whose indices are divisible by 3. Can you observe some regularity? If yes, can you verify it for the first 100 or so members of the subsequence? (Do this with the iterative version; if you only have the recursive one, make it 10 instead of 100.) Does this regularity hold if we consider indices whose remainders modulo 3 is 1 or 2? Can you formulate a theorem? If yes, can you verify it for the first few hundred Lucas numbers?

### **Exercise 3.33**. Goldbachâ€™s conjecture says that every even number greater than 2 is the sum of two primes. Write a function `goldbach()`, which, given $1 < n  \in \mathbb{N}$, returns the number of ways $2n$ can be written as the sum of two primes. ($p_1 + p_2$ and $p_2+ p_1$ count as the same decomposition.) For debugging your function, you may want to use `print()`, which, if given multiple arguments, will print them all, separated by a space

In [ ]:
def goldbach(n):
    prime = sieve_eratosthenes(n)
    count = 0
    for i in range(2, n // 2):
        if prime[i] == True and prime[n - i] == True:
            count += 1
    return count 

if __name__ == "__main__":
    print(goldbach(50))
    print(goldbach(8))

4
1

### **Exercise 3.34**. Convince yourself that Goldbachâ€™s conjecture will not be easy to refute, by exploring various intervals using your `goldbach()` function from the previous exercise.

### **Exercise 3.35**. Write a function `pascal()` that, given a positive natural number *n*, returns, as a list of lists, the first *n* lines of Pascalâ€™s triangle. Use the recursive definition of Pascalâ€™s triangle (this does not mean that your function must be recursive, see for example `3.31`!): the *n*th row is of length *n*; the first row consists of one 1, and each entry of each subsequent row is the sum of the number above and to the left and the number above and to the right, treating blank entries as 0 ([Wikipedia](https://en.wikipedia.org/wiki/Pascal's_triangle))

In [ ]:
def pascal(n):
    for i in range(1, n + 1):
        arr = []
        for j in range(i+1):
            arr.append(math.comb(i, j))
        print(arr)

if __name__ == "__main__":
    pascal(5)

[1, 1]
[1, 2, 1]
[1, 3, 3, 1]
[1, 4, 6, 4, 1]
[1, 5, 10, 10, 5, 1]

### **Exercise 3.36**. An [associative](https://en.wikipedia.org/wiki/Associative_array) is a data structure that maps values to keys. (Python has such a data structure: itâ€™s called `dict`, and we will use it later â€“ but in this exercise we roll our own.) There are four activites related to an associative array: we need to be able to create one, add key-value pairs to it, look up the value associated to a key in it, and remove a key-value pair from it. We have already written the third component in Exercise `3.18`. The first could simply be `def make_new_aa(): return list()` Write the remaining two: `insert(key,value,aa)` should return a copy of `aa`, either extended with the tuple `(key,value)` or, if key is already present in aa, it should return a copy of aa in which `(key,value')` is replaced by `(key,value)`. Finally, `delete(key,aa)` should return a copy of aa with no tuple of the `form(key,value)`.

### **Exercise 3.37**. Write a function `insert_sort()` of one argument, a list of numbers, which returns the sorted (in ascending order) version of the list. You should use the [Insertion sort](https://en.wikipedia.org/wiki/Insertion_sort#Algorithm) algorithm, which works as follows: we read the elements of the list from left to right, and any time we encounter a member *e* that is smaller than the previous one, we shift to the right all the members that are left of *e* and are bigger than *e*, and insert *e* where the leftmost of these members were. In other words, we scan the list from left to right, and whenever we find that the first *k* element is not in order, we correct this. Or
![Screenshot 2023-03-03 163912.png]()

In [ ]:
def insert_sort(arr):
    for i in range(1, len(arr)):
        k = arr[i]
        j = i - 1
        while j >= 0 and k < arr[j]:
            arr[j + 1] = arr[j]
            j -= 1 
        arr[j + 1] = k
    return arr

if __name__ == "__main__":
    arr = [12, 11, 13, 5, 6]
    print(insert_sort(arr))

[5, 6, 11, 12, 13]

# **4. I/O**

### **Exercise 4.1**. Write a program that asks for numbers, one after the other, and if the user presses `RETURN` without entering a number first, it returns the average of the numbers

### **Exercise 4.2**. Write a program that asks for numbers separated by spaces, and prints their average

### Exercise 4.3. Write a function `read_first_lines()` of two arguments: the name of a file and an integer *n*. It should read and print the first *n* lines of the file (or all lines if there are no more than *n* lines in it).

### **Exercise 4.4**. Write a function `copy_first_lines()` of three arguments: the name of an input and an output file, and an integer. It should do what the function in the previous exercise did, except that the output should go to the file named by the second argument. Check with an editor, or with `cat` or `less` at the command line that your function did what itâ€™s supposed to do.

### **Exercise 4.5**. Write a function `count_lines()` of one argument, the name of a file. It should return the number of lines in the file (thatâ€™s what `wc -l` does on the command line)

### Exercise 4.6. Write a function `read_to_string()` that returns a string containing all the text in the text file named by its only argument. It shouldnâ€™t contain newline characters `(\ns)` but of course the last word of a line should not run into the first word of the next line.
Help: strings can be concatenated using +. And use `.rstrip()`, as in the lecture!

# **5. Containers**

### **Exercise 5.1**. Write a function `list_diff()` of two arguments, both lists, which returns the list of those members of the first list (in the original order) which are not in the second

### **Exercise 5.2**. Print the following pattern:
1

22

333

4444

55555

666666

7777777

88888888

999999999